{% extends 'core/base.html' %}
{% load staticfiles %}


{% block menu %}
 {% include 'core/menu.html' %}
{% endblock %}

{% block content %}

<title>{% block title %}{{letter.title}}{% endblock %}</title>

<hr style="margin-top: 30px">

    <div class="container">
        <div id="event" class="grp-margin-left-xs">
            <div>
                <h3><p>{{letter.title}}</p></h3>
                <p>{{letter.richcontent|safe|escape }}</p>
                <hr>
            </div>
        </div>
    </div>


{% endblock %}