{% extends "base.html" %}
{{ form.media }}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<h2>Edit your event</h2><br>
<!--     <form id="form" method="post" action="{{ action }}" enctype="multipart/for-data"> -->
    <form id="form" method="post" action=" "  enctype="multipart/form-data">
    
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}

    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
    </form>

{% endblock %}
