<div class="row social">
    <div class="col-md-7"></div>
    {# <div class="col-md-5"> #}
{#        Get in touch: <br /><a href="mailto:vladtyum@yahoo.com">vladtyum@yahoo.com</a><br /><br /> #}
{#    </div> #}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row credits">
    <div class="col-md-12">
        Made with ♥ for SZ-Makers community by <a href="mailto:vladtyum@yahoo.com">V'</a>.<br >
    </div>
</div>
